{
	"-n" : 20,
	"-i" : 200,
    "objects" : [
	{
	    "type" : "sine",
	    "row" : 18,
	    "col" : 18,
	    "start" : 0,
	    "duration" : 10,
	    "period" : 2,
	    "amplitude" :10
	},
	{
	    "type" : "rectobstacle",
	    "row" : 1,
	    "col" : 3,
	    "height" : 5,
	    "width" : 5
	}
    ]
}
